* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

 

.mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.patio {
    width: 40%;
    padding: 10px ;
    
}

.salon {
    width: 55%;
    
}



a {
    text-decoration: none;
}

img {
    max-width: 100%;
}


h1 {
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium';
    padding: 10px;
    margin: 20px;
    text-align: center;
    }


body {
    background-color: rgb(224, 124, 9);
}


p {
    font-size: 1rem;
    font-family: system-ui;
    color: rgb(15, 15, 15);
}


section h2 {
    font-family:'Franklin Gothic Medium';
    font-size: 3rem;
    padding: 20px;
    text-align: center;
}


h3 {
    font-family: 'Oooh Baby', cursive;
    font-size: 2rem;
    margin: 20px;
    text-align: center;
}



article h3 {
    padding: 10px;
}


article p {
    padding: 10px;
}


div p {
    padding: 10px;
}


article address ul {
    padding: 10px;
    font-family: cursive;
    font-size: 1rem;
    }


iframe {
    padding: 30px;
}




div h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;

}


