* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

main {
    background-color: rgb(123, 125, 228);
    
    
}

img {
    max-width: 100%;
}

main {
    background-color: rgb(123, 125, 228);   
}