.nosotros-articulo {
    display: flex;
    flex-direction: column;
    

}

.nosotros__titulo {
    text-align: center;
    padding-top: 15px;

}

.nosotros__img {
    padding: 15px;
}

.nosotros__parrafo {
    margin: 10px;
}

.pie {
    display: flex;
    flex-direction: row;
    
}

.pie__logo {
    height: 80px;
    width: 80px;
    margin-left: 50px;
    margin-top: 10px;
}

.pie__redes {
    margin-left: 120px;
    margin-top: 30px;
    padding-right: 15px;
}

.pie__logos {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 20px;
    color: rgb(83, 85, 238);
    
}


@media (min-width:1024px) {

    .nosotros__titulo {
        margin-top: 15px;
        margin-right: 150px;
    }

    .nosotros__img {
        width: 800px;
        margin-left: 270px;
        margin-top: 10px;
        margin-bottom: 15px;
        
    }

    .nosotros__parrafo {
        margin-left: 25px;
        font-size: 18px;
        margin-right: 30px;
        margin-bottom: 40px;
    
    }

    .pie {
        display: flex;
        flex-direction: row;
    
    }

    .pie__redes {
        
        margin-left: 900px;
        
    }
    
    .pie__logos {
        font-size: 25px;
        margin-left: 50px;
        
        
    }
}
